#content {
    max-width: 1600px;
    margin: 0 auto;
    width: 85%;
    align-content: center;
}

h2 {
    margin: 0;
}

nav a {
    text-align: center;
    background-color: aqua;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    padding: 15px;
}

#hero-msg {
    background-color: darkslategray;
    text-align: center;
    color: bisque;
}

#hero-msg h1 {
    text-align: center;
    background-color: darkslategray;
}



main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: grey;
}

body {
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

.button-box {
    text-align: center;
}

header {
    background-color: aqua;
    text-align: center;
}

nav a:hover {
    color: brown;
}

.book {
    background-color: burlywood;
    color: black;
    text-align: center;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-decoration: none;
}

.join {
    background-color: burlywood;
    color: black;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    text-decoration: none;
}

.book:hover {
    color: brown;
}

.join:hover {
    color: brown;
}

.msg {
    color: bisque;
    align-content: center;
    line-height: 1.5em;
    padding: 35px;
    background-color: darkslategray;
}

footer {
    background-color: darkslategray;
    color: #bf5700;
    padding: 25px 50px;
    margin-top: 200px;
}

.home-title {
    color: black;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}

h4 {
    color: bisque;
}

.msg h2 {
    color: bisque;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.msg p {
    color: bisque;
    font-size: .8em;
    padding-bottom: 15px;
}

footer a {
    color: #bf5700;
}

footer a:hover {
    color: blue;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.mountains {
    margin: 0 auto;
}

footer .social img{
    padding-top: 15px;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #000000;
}

main section img {
    box-sizing: border-box;
} 




